{% extends "layout.njk" %}

{% block content %}
<div class="govuk-width-container">

    <h1 class="govuk-heading-l">Staff Dashboard</h1>

    <form action="/dashboard/search" method="GET" class="govuk-form-group">
        <label class="govuk-label" for="query">Search inmates</label>

        <input
            class="govuk-input"
            id="query"
            name="query"
            type="text"
            placeholder="Enter inmate name"
            required
        >

        <button class="govuk-button govuk-!-margin-top-3" type="submit">
            Search
        </button>
    </form>

</div>
{% endblock %}

