{% extends "layout.njk" %}

{% block content %}

<h1 class="govuk-heading-l">Search Inmates</h1>

<form action="/dashboard/search" method="GET" class="govuk-form-group">

    <label class="govuk-label" for="query">Enter name</label>
    <input
        id="query"
        name="query"
        type="text"
        class="govuk-input"
        placeholder="e.g. John Smith"
        required
    >

    <button type="submit" class="govuk-button govuk-!-margin-top-3">
        Search
    </button>
</form>

{% endblock %}


