<!DOCTYPE html>
<html lang="en" class="govuk-template">
<head>
    <meta charset="UTF-8">
    <title>{{ title or "Prison Fitness App" }}</title>
    <link rel="stylesheet" href="/static/css/style.css">

    <!-- GOV.UK Font -->
    <link rel="stylesheet" href="https://assets.publishing.service.gov.uk/government-frontend/govuk/assets/fonts.css">
</head>

<body class="govuk-template__body">

<header class="govuk-header" role="banner" data-module="govuk-header">
    <div class="govuk-header__container govuk-width-container">
        <div class="govuk-header__logo">
            <a href="/dashboard" class="govuk-header__link govuk-header__link--homepage">
                <span class="govuk-header__product-name">
                    HMPPS Fitness Platform
                </span>
            </a>
        </div>
    </div>
</header>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-!-padding-top-6">
        {% block content %}{% endblock %}
    </main>
</div>

</body>
</html>

